*{
              
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica;
}
html,body{
                
    height:100%;
    width:100%;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
}

@property --rot{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes rota{

    from{
        --rot:0deg
    }

    to{
        --rot:3600deg
    }
}

@keyframes tex{
    from{
        background-color: rgb(255, 255, 255);
    }
    to{
       background-color: rgb(0, 0, 0);
    }
}

main .box{
    max-width: 400px;
    padding-inline: 10px;
    padding-bottom: 10px;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 15px;
    background: linear-gradient(rgb(0, 0, 0)) padding-box,conic-gradient(from var(--rot),black,rgb(238, 0, 159),black) border-box;
    border:  5px solid rgba(255, 255, 255,0);
    margin: 10px;
    animation: rota 20s ;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: paused;
    position: relative;
}

.box:hover{
    transition: all ease 0.5s;
    box-shadow: 0 0 25px rgb(244, 30, 215);
    animation-play-state: running;
}

.box img{
    width: 100%;
    object-fit: cover;
}

.box h1{
   background-image: url(./WebCollage_angryedit.webp);
    background-clip: text;
    background-size: contain;
    font-weight: 900;
    background-position: center;
    font-size: 2rem;
    color: transparent;
    /* animation: rota 20s  10 ; */
    -webkit-text-stroke: 0.2px #fff;
    position: absolute;
    bottom : -65px;
    left:50%;
    transform: translate(-50%);

    animation: tex 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    text-transform: capitalize;
    
   
}