*{
              
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica;
}
html,body{
                
    height:100%;
    width:100%;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
}

@property --rot{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes rota{

    from{
        --rot:0deg
    }

    to{
        --rot:3600deg
    }
}

main .box{
    max-width: 300px;
    padding-inline: 10px;
    padding-bottom: 10px;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 0 0 40px rgb(238, 0, 159);
    border-radius: 15px;
    background: linear-gradient(rgb(0, 0, 0)) padding-box,conic-gradient(from var(--rot),black,rgb(238, 0, 159),black) border-box;
    border:  5px solid rgba(255, 255, 255,0);
    margin: 10px;
    animation: rota 10s  10 ;
    animation-iteration-count: infinite;
}

.box img{
    width: 100%;
    object-fit: cover;
}

.box h1{
   
}